## Preprocessing

In [11]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv('/Users/danielleb./Documents/GitHub/deep-learning-challenge/Starter_Code/Resources/charity_data.csv')

application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [14]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE

app_df = application_df.drop(["EIN", "NAME"], axis='columns')

app_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [16]:
# Determine the number of unique values in each column.

print(app_df.nunique())

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [17]:
# Look at APPLICATION_TYPE value counts for binning

counts = application_df['APPLICATION_TYPE'].value_counts()
counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [18]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(counts[counts<750].index)
application_types_to_replace

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [19]:
# Look at CLASSIFICATION value counts for binning
counts_class = application_df['APPLICATION_TYPE'].value_counts()
counts_class

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [20]:
# You may find it helpful to look at CLASSIFICATION value counts >1
counts_class1 = counts_class[counts_class>1]
counts_class1

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [21]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list (counts_class1[counts_class1<100].index)
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [22]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,EIN,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,10520599,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,10531628,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,10547893,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,10553066,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,10556103,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [23]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
y

X = application_df.drop('IS_SUCCESSFUL', axis=1).values
X

# Split the preprocessed data into a training and testing dataset

X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [24]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [26]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [33]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1= 7
hidden_nodes_layer2=14
hidden_nodes_layer3=21

nn = tf.keras.models.Sequential()



# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 7)                 137725

 dense_10 (Dense)            (None, 14)                112

 dense_11 (Dense)            (None, 1)                 15

=================================================================
Total params: 137,852
Trainable params: 137,852
Non-trainable params: 0
_________________________________________________________________

In [36]:

nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [37]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 8s 9ms/step - loss: 0.5138 - accuracy: 0.7499 - val_loss: 0.4610 - val_accuracy: 0.7847
Epoch 2/100
684/684 [==============================] - 3s 5ms/step - loss: 0.2904 - accuracy: 0.8732 - val_loss: 0.4667 - val_accuracy: 0.7681
Epoch 3/100
684/684 [==============================] - 3s 4ms/step - loss: 0.1450 - accuracy: 0.9401 - val_loss: 0.4591 - val_accuracy: 0.7559
Epoch 4/100
684/684 [==============================] - 3s 4ms/step - loss: 0.1137 - accuracy: 0.9512 - val_loss: 0.4701 - val_accuracy: 0.7077
Epoch 5/100
684/684 [==============================] - 3s 5ms/step - loss: 0.1050 - accuracy: 0.9535 - val_loss: 0.4707 - val_accuracy: 0.7271
Epoch 6/100
684/684 [==============================] - 3s 4ms/step - loss: 0.1011 - accuracy: 0.9549 - val_loss: 0.4762 - val_accuracy: 0.7258
Epoch 7/100
684/684 [==============================] - 4s 5ms/step - loss: 0.0975 - accuracy: 0.9568 - val_loss: 0.4776 - val_accuracy: 0.7603
Epoch 8/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0954 - accuracy: 0.9582 - val_loss: 0.4947 - val_accuracy: 0.7012
Epoch 9/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0945 - accuracy: 0.9591 - val_loss: 0.4980 - val_accuracy: 0.7248
Epoch 10/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0927 - accuracy: 0.9601 - val_loss: 0.5076 - val_accuracy: 0.6932
Epoch 11/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0920 - accuracy: 0.9606 - val_loss: 0.4983 - val_accuracy: 0.7334
Epoch 12/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0939 - accuracy: 0.9601 - val_loss: 0.8919 - val_accuracy: 0.8018
Epoch 13/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0929 - accuracy: 0.9616 - val_loss: 0.6463 - val_accuracy: 0.8012
Epoch 14/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0882 - accuracy: 0.9624 - val_loss: 0.5887 - val_accuracy: 0.7984
Epoch 15/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0875 - accuracy: 0.9639 - val_loss: 0.5376 - val_accuracy: 0.7945
Epoch 16/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0866 - accuracy: 0.9630 - val_loss: 0.5935 - val_accuracy: 0.7976
Epoch 17/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0855 - accuracy: 0.9637 - val_loss: 0.5895 - val_accuracy: 0.7961
Epoch 18/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0858 - accuracy: 0.9641 - val_loss: 0.5552 - val_accuracy: 0.7904
Epoch 19/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0857 - accuracy: 0.9637 - val_loss: 0.5371 - val_accuracy: 0.7883
Epoch 20/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0853 - accuracy: 0.9635 - val_loss: 0.5440 - val_accuracy: 0.7909
Epoch 21/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0851 - accuracy: 0.9644 - val_loss: 0.5393 - val_accuracy: 0.7613
Epoch 22/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0848 - accuracy: 0.9647 - val_loss: 0.5529 - val_accuracy: 0.7873
Epoch 23/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0847 - accuracy: 0.9644 - val_loss: 0.5466 - val_accuracy: 0.7974
Epoch 24/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0868 - accuracy: 0.9624 - val_loss: 0.5338 - val_accuracy: 0.8020
Epoch 25/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0844 - accuracy: 0.9647 - val_loss: 0.5832 - val_accuracy: 0.8010
Epoch 26/100
684/684 [==============================] - 4s 5ms/step - loss: 0.0847 - accuracy: 0.9646 - val_loss: 0.5881 - val_accuracy: 0.8041
Epoch 27/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0842 - accuracy: 0.9647 - val_loss: 0.5538 - val_accuracy: 0.8031
Epoch 28/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0839 - accuracy: 0.9642 - val_loss: 0.5916 - val_accuracy: 0.8002
Epoch 29/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0839 - accuracy: 0.9644 - val_loss: 0.5730 - val_accuracy: 0.8023
Epoch 30/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0837 - accuracy: 0.9645 - val_loss: 0.6048 - val_accuracy: 0.8002
Epoch 31/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0840 - accuracy: 0.9642 - val_loss: 0.6604 - val_accuracy: 0.7999
Epoch 32/100
684/684 [==============================] - 4s 6ms/step - loss: 0.0834 - accuracy: 0.9652 - val_loss: 0.6192 - val_accuracy: 0.8010
Epoch 33/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0833 - accuracy: 0.9657 - val_loss: 0.6338 - val_accuracy: 0.8018
Epoch 34/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0832 - accuracy: 0.9646 - val_loss: 0.7377 - val_accuracy: 0.7976
Epoch 35/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0835 - accuracy: 0.9648 - val_loss: 0.7430 - val_accuracy: 0.7999
Epoch 36/100
684/684 [==============================] - 4s 5ms/step - loss: 0.0828 - accuracy: 0.9655 - val_loss: 0.8045 - val_accuracy: 0.7932
Epoch 37/100
684/684 [==============================] - 4s 6ms/step - loss: 0.0829 - accuracy: 0.9652 - val_loss: 0.8646 - val_accuracy: 0.7984
Epoch 38/100
684/684 [==============================] - 4s 5ms/step - loss: 0.0826 - accuracy: 0.9654 - val_loss: 0.8672 - val_accuracy: 0.7992
Epoch 39/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0825 - accuracy: 0.9648 - val_loss: 0.8280 - val_accuracy: 0.8005
Epoch 40/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0825 - accuracy: 0.9653 - val_loss: 0.9834 - val_accuracy: 0.7997
Epoch 41/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0821 - accuracy: 0.9654 - val_loss: 0.9062 - val_accuracy: 0.8010
Epoch 42/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0820 - accuracy: 0.9656 - val_loss: 0.9105 - val_accuracy: 0.7955
Epoch 43/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0818 - accuracy: 0.9660 - val_loss: 0.8930 - val_accuracy: 0.7963
Epoch 44/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0820 - accuracy: 0.9655 - val_loss: 0.9070 - val_accuracy: 0.7999
Epoch 45/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0820 - accuracy: 0.9659 - val_loss: 0.9207 - val_accuracy: 0.7948
Epoch 46/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0822 - accuracy: 0.9650 - val_loss: 0.9870 - val_accuracy: 0.8002
Epoch 47/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0818 - accuracy: 0.9656 - val_loss: 0.8604 - val_accuracy: 0.8005
Epoch 48/100
684/684 [==============================] - 4s 6ms/step - loss: 0.0817 - accuracy: 0.9660 - val_loss: 0.9532 - val_accuracy: 0.7989
Epoch 49/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0817 - accuracy: 0.9659 - val_loss: 1.0391 - val_accuracy: 0.7989
Epoch 50/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0815 - accuracy: 0.9658 - val_loss: 1.0627 - val_accuracy: 0.7989
Epoch 51/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0815 - accuracy: 0.9655 - val_loss: 1.0748 - val_accuracy: 0.7994
Epoch 52/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0814 - accuracy: 0.9660 - val_loss: 1.1089 - val_accuracy: 0.7997
Epoch 53/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0812 - accuracy: 0.9659 - val_loss: 1.1904 - val_accuracy: 0.7981
Epoch 54/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0812 - accuracy: 0.9662 - val_loss: 1.1527 - val_accuracy: 0.7989
Epoch 55/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0810 - accuracy: 0.9663 - val_loss: 1.0908 - val_accuracy: 0.7989
Epoch 56/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0807 - accuracy: 0.9659 - val_loss: 1.1393 - val_accuracy: 0.7992
Epoch 57/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0808 - accuracy: 0.9657 - val_loss: 1.1347 - val_accuracy: 0.7987

Epoch 58/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0809 - accuracy: 0.9666 - val_loss: 1.1594 - val_accuracy: 0.7992
Epoch 59/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0810 - accuracy: 0.9660 - val_loss: 1.1833 - val_accuracy: 0.7976
Epoch 60/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0806 - accuracy: 0.9662 - val_loss: 1.1842 - val_accuracy: 0.7987
Epoch 61/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0803 - accuracy: 0.9668 - val_loss: 1.4067 - val_accuracy: 0.7987
Epoch 62/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0808 - accuracy: 0.9663 - val_loss: 1.4987 - val_accuracy: 0.7984
Epoch 63/100
684/684 [==============================] - 4s 5ms/step - loss: 0.0803 - accuracy: 0.9663 - val_loss: 1.5748 - val_accuracy: 0.7968
Epoch 64/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0807 - accuracy: 0.9663 - val_loss: 1.6333 - val_accuracy: 0.7981
Epoch 65/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0803 - accuracy: 0.9664 - val_loss: 1.7563 - val_accuracy: 0.7966
Epoch 66/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0804 - accuracy: 0.9663 - val_loss: 1.6801 - val_accuracy: 0.7953
Epoch 67/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0803 - accuracy: 0.9662 - val_loss: 1.6282 - val_accuracy: 0.7984
Epoch 68/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0799 - accuracy: 0.9669 - val_loss: 1.5484 - val_accuracy: 0.7953
Epoch 69/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0803 - accuracy: 0.9661 - val_loss: 1.5566 - val_accuracy: 0.7976
Epoch 70/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0800 - accuracy: 0.9664 - val_loss: 1.4917 - val_accuracy: 0.7994
Epoch 71/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0802 - accuracy: 0.9662 - val_loss: 1.6700 - val_accuracy: 0.7992
Epoch 72/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0802 - accuracy: 0.9665 - val_loss: 1.5258 - val_accuracy: 0.7979
Epoch 73/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0801 - accuracy: 0.9664 - val_loss: 1.7582 - val_accuracy: 0.7997
Epoch 74/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0797 - accuracy: 0.9665 - val_loss: 1.7295 - val_accuracy: 0.7992
Epoch 75/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0798 - accuracy: 0.9662 - val_loss: 2.0197 - val_accuracy: 0.7989
Epoch 76/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0795 - accuracy: 0.9667 - val_loss: 2.0898 - val_accuracy: 0.7981
Epoch 77/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0802 - accuracy: 0.9663 - val_loss: 1.8201 - val_accuracy: 0.8002
Epoch 78/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0796 - accuracy: 0.9668 - val_loss: 1.9358 - val_accuracy: 0.7992
Epoch 79/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0797 - accuracy: 0.9667 - val_loss: 2.0060 - val_accuracy: 0.7987
Epoch 80/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0795 - accuracy: 0.9666 - val_loss: 2.1091 - val_accuracy: 0.7989
Epoch 81/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0795 - accuracy: 0.9662 - val_loss: 2.0866 - val_accuracy: 0.7994
Epoch 82/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0791 - accuracy: 0.9673 - val_loss: 2.0523 - val_accuracy: 0.7987
Epoch 83/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0795 - accuracy: 0.9659 - val_loss: 2.1940 - val_accuracy: 0.7984
Epoch 84/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0790 - accuracy: 0.9670 - val_loss: 2.2362 - val_accuracy: 0.7997
Epoch 85/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0790 - accuracy: 0.9672 - val_loss: 2.1530 - val_accuracy: 0.7997
Epoch 86/100
684/684 [==============================] - 4s 5ms/step - loss: 0.0794 - accuracy: 0.9670 - val_loss: 2.2215 - val_accuracy: 0.7979
Epoch 87/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0791 - accuracy: 0.9667 - val_loss: 2.1601 - val_accuracy: 0.7984
Epoch 88/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0791 - accuracy: 0.9670 - val_loss: 2.1203 - val_accuracy: 0.7979
Epoch 89/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0787 - accuracy: 0.9673 - val_loss: 2.1600 - val_accuracy: 0.7992
Epoch 90/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0784 - accuracy: 0.9666 - val_loss: 2.3680 - val_accuracy: 0.7981
Epoch 91/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0790 - accuracy: 0.9670 - val_loss: 2.0450 - val_accuracy: 0.7987
Epoch 92/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0793 - accuracy: 0.9668 - val_loss: 2.2493 - val_accuracy: 0.7984
Epoch 93/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0786 - accuracy: 0.9673 - val_loss: 2.2715 - val_accuracy: 0.7984
Epoch 94/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0786 - accuracy: 0.9669 - val_loss: 2.3723 - val_accuracy: 0.7981
Epoch 95/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0787 - accuracy: 0.9670 - val_loss: 2.4688 - val_accuracy: 0.7992
Epoch 96/100
684/684 [==============================] - 3s 5ms/step - loss: 0.0784 - accuracy: 0.9675 - val_loss: 2.2178 - val_accuracy: 0.7992
Epoch 97/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0785 - accuracy: 0.9672 - val_loss: 2.4065 - val_accuracy: 0.7971
Epoch 98/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0783 - accuracy: 0.9669 - val_loss: 2.4482 - val_accuracy: 0.7976
Epoch 99/100
684/684 [==============================] - 3s 4ms/step - loss: 0.0785 - accuracy: 0.9672 - val_loss: 2.4496 - val_accuracy: 0.7948
Epoch 100/100
684/684 [==============================] - 4s 5ms/step - loss: 0.0783 - accuracy: 0.9675 - val_loss: 2.4395 - val_accuracy: 0.7987

In [28]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.7079 - accuracy: 0.7005 - 1s/epoch - 5ms/step
Loss: 0.7079280614852905, Accuracy: 0.7005248069763184

In [38]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE

from jupyter notebook import files 

nn.save ('/Users/danielleb./Documents/GitHub/deep-learning-challenge/Starter_Code/Resources/charity_data.csv')

files.download('/Users/danielleb./Documents/GitHub/deep-learning-challenge/Starter_Code/Resources/charity_data.csv')

SyntaxError: invalid syntax (1983974994.py, line 4)